body {
   background-color: #ffffff;  
   color: #ffffff;
   font: 12px/1.4em Arial,sans-serif;
}

#navbar{
   height: 120px;
   background: #000000;
   padding: 0px;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 0;
   width: 100%
}

#navbar-page ul {
   margin: 0;
   padding: 0;    
}

#navbar-page li {
   display: inline;
    list-style-type: none;
   padding: 0px
   background-color: #ffffff;
   color: #000000;
   margin: 0;
}

#button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}