body {
   background-color: #ffffff;  
   color: #000000;
   font: 25px/1.4em Arial,sans-serif;
   padding: 130px;
}

#navbar{
   height: 150px;
   background: #000000;
   padding: 0px;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 0;
   width: 100%

}

.button  {
    background-color: #fff3e0; /* Orange */
    border: solid;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}

.joinbutton  {
    background-color: #ADFF2F ; /* Orange */
    border: solid;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}

.cancelbutton  {
    background-color: #CD3333 ; /* Orange */
    border: solid;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.button: hover {
    background-color: #ffffff; 
}

.button: active{

background-color: #ffffff;

}

@keyframes navButton {
    from {background-color: #fff3e0;}
    to {background-color: yellow;}
}
